.gradle/*
build/*
/build/
/.gradle/
logs/*
/logs/
target/*
/target/
/.idea/*/
!.idea/runConfigurations/
!.idea/runConfigurations/**
!.idea/*.xml
.idea/*
/src/main/resources/account.properties
/src/main/resources/accountswhitelist.txt
